@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
/*for font*/
*{
 box-sizing: border-box;
}
body{
 display: flex;
 align-items:center; 
 justify-content: center; 
    background-color:#f1f1f1 ;
}
#fb-cover{
 width:501px;
 height: 290px; 
 background-color:#fff; 
 position: relative;
 top:200px;
 left:310px;
 border-radius:0 10px 10px 0;
 box-shadow:1px 2px 3px rgba(0,0,0,0.9);  
    transition-duration:3s; 

}
#i1{
position: relative;
 top:-48px;
 right: -0px;
 
}
#i2{
 position: relative;
 top:-45px;
    left:96px;  
}
i{
 position: relative;
 left:200px;  

}
#loader{
 width: 90%;
 height: 10px;
 background-color: #fff; 
    border-radius: 5px;
    position: relative;
 top:65px;
 right: -10px;

}
#rec{
   position: relative;
 top:-190px;
 left:35px; 
 color:#fff;
 font-size:30px; 
 font-family: 'Quicksand', sans-serif;
 
}
#h{
  position: relative;
 top:-150px;
 right:-230px; 
 color:#fff;
 font-size:38px; 
 font-family: 'Quicksand', sans-serif;
 
}
#request{

 width:500px;
 height: 300px; 
 background-color:rgb(0, 128, 247); 
 position: relative;
 top:200px;
 right:200px;
 border-radius:10px 0 0 10px;
 transition-duration:3s; 
    box-shadow:-1px 1px 3px rgba(0,0,0,0.9);  
}
#open{
 padding:5px ; 
    position: relative;
 top:-185px;
 left:501px;
 color: #fff;
 background-color: 
 rgb(0, 128, 247);
 border: none;
 border-radius:0px 10px 10px 0px; 

}
#cancel{
 padding:5px 25px 5px 25px; 
    position: relative;
 top:-60px;
  left:50px;
 color: #fff;
 background-color: 
 rgb(0, 128, 247);
    font-size: 28px;
    border:none; 
    border-radius:5px ; 
    
 font-family: 'Quicksand', sans-serif;
 

}
#confirm{
 padding:5px 25px 5px 25px ; 
    position: relative;
 top:-60px;
 left: 100px;
 color:rgb(0, 128, 247) ;
 background-color: #f1f1f1;
    font-size: 28px;
    
    border:none; 
    border-radius:5px ; 
    
 font-family: 'Quicksand', sans-serif;
 
}
#frm{
 position: relative;
 left: 180px;
 top:-0px; 
 
}
#me{
    position: relative;
 left: 200px;
 top:-40px;
    font-size:35px; 
 font-family: 'Quicksand', sans-serif;
 color:grey;

}
button{
 cursor: pointer;
}